.table {
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}

.table tr {
  color: inherit;
  display: table-row;
  outline: 0;
  vertical-align: middle;
}

.table tr th,
.table tr td {
  line-height: 1.5rem;
  display: table-cell;
  padding: 8px;
  font-size: 14px;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  white-space: nowrap;
  border-bottom: 1px solid #eeeeee;
  letter-spacing: -0.05px;
  vertical-align: inherit;
}

.table tr th {
  color: #263238;
  font-weight: 500;
  line-height: 1.5rem;
}

.table tr td {
  color: #263238;
  font-weight: 400;
  line-height: 21px;
}

.table tr:nth-child(odd) {
  background: #ffffff;
}

.table tr:nth-child(even) {
  background: #eeeeee;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  border: none;
  margin: 0.3em;
  cursor: pointer;
  border-radius: 3px;
  background: transparent;
}

.btn-icon:focus {
  border: none;
  outline: none;
}

.text-right {
  text-align: right !important;
}

