//
@import "table";

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .3em;
  border: none;
  margin: .3em;
  cursor: pointer;
  border-radius: 3px;
  background: transparent;
  &:focus {
    border: none;
    outline: none;
  }
}

.text-right {
  text-align: right !important;
}
