//
.table {
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  tr {
    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
    th, td {
      line-height: 1.5rem;
      display: table-cell;
      padding: 8px;
      font-size: 14px;
      text-align: left;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      white-space: nowrap;
      border-bottom: 1px solid #eeeeee;
      letter-spacing: -0.05px;
      vertical-align: inherit;
    }
    th {
      color: #263238;
      font-weight: 500;
      //background: linear-gradient(180deg, rgba(238, 69, 64, 1) 0%, rgba(199, 44, 65, 1) 50%, rgba(128, 19, 54, 1) 100%);
      line-height: 1.5rem;
    }
    td {
      color: #263238;
      font-weight: 400;
      line-height: 21px;
    }
    &:nth-child(odd) {
      background: #ffffff;
    }
    &:nth-child(even) {
      background: #eeeeee;
    }
  }
}
